body{
	background-color: #86AAB8;
	font-family: Arial;
}

header{
	font-family: Arial;
	font-weight: bold;
	color: white;
}

h1{
	font-size: 34px;
}

h3{
	margin-top: -20px;
}

nav{
	width: 420px;
	height: 65px;

	background-color: #F5F5F2;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	float: right;
	margin-top: -50px;
}

article{
	height: auto;
	display: none;
}

section{
	width: 70%;
	float: left;
}

aside{
	width: 20%;
	float: right;
}

details{
	height: auto;
}

img{
	width: 250px;
	height: 180px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	margin: 30px auto;
	opacity: 0.7;
}

img:hover{
	opacity: 1;
}