#maincenter{
	width: 98%;
	height: auto;
	overflow: auto;
	min-height: 450px;

	color: whitesmoke;
	border: 1px solid #1E3C46;
	background-color: #1E3C46;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-sizing: border-box;
	margin: 100px auto 40px;
	padding: 30px;
}

#subhead{
	width: 98%;
	border-bottom: 1px solid whitesmoke;
}

#logo{
	width: 100%;
	margin: -20px auto 0px;
	text-align: center;
}
#idDown{
	width: 50%;
	height: 30px;
	text-align: center;
	color: white;

	border: 0px solid red;
	margin: 50px auto 0px;
}

#second{
	width: 98%;
	height: auto;
	min-height: 200px;

	color: whitesmoke;
	background-color: #4F6E80;

	box-sizing: border-box;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	margin: 0px auto;
	padding: 20px;

}

#unibz{
	background-color: #1E3C46;
}