.button{
	width: auto;
	height: auto;

	border: 0px solid grey;
	background-color: transparent;
	color: grey;
	font-weight: bold;
	font-size: 20px;

	display: inline-block;
	vertical-align: top;

	margin: 12px 18px;
	padding: 10px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.button:hover{
	background-color: #BEBBBB;
}

.item{
	margin: 10px auto;

	box-sizing: border-box;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	

	padding: 10px;
}

.item:hover{
	background-color: #BEBBBB;
}

.maincenter{
	width: 98%;
	height: auto;
	overflow: auto;
	min-height: 450px;

	color: whitesmoke;
	border: 1px solid #1E3C46;
	background-color: #1E3C46;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-sizing: border-box;
	margin: 100px auto 0px;
	padding: 30px;
}

.second{
	width: 98%;
	height: auto;
	min-height: 200px;

	color: whitesmoke;
	background-color: #4F6E80;

	box-sizing: border-box;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	margin: 100px auto;
	padding: 20px;

}